<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="http://localhost:3030/build/app.css" />*@
</head>
<body>
	<div class="page-container">
		@RenderBody()
	</div>
    <script type="text/javascript" src="http://localhost:3030/build/app.js"></script>
</body>
</html>